extends ../layout
block content
    .jumbotron.text-center
        .row
            h2 Sign in with an email address here:
            form(method='POST', action='/email-signin')
                input(type='hidden', name='_csrf', value=_csrf)
                .col-sm-6.col-sm-offset-3
                    .form-group
                        input.form-control(type='email', name='email', id='email', placeholder='Email', ng-model='email', autofocus=true)
                        | {{ $scope.email }}
                    .form-group
                        input.form-control(type='password', name='password', id='password', placeholder='Password', ng-model='password')
                    .form-group
                        button.btn.btn-primary(type='submit')
                            span.ion-android-hand
                            | Login
                        span &thinsp;&thinsp;
                        a.btn.btn-info(href='/forgot') Forgot your password?
                    
                    .form-group
                        a.btn.btn-lg.btn-facebook.btn-social-icon(href='/auth/facebook')
                            i.fa.fa-facebook
                        span &thinsp;&thinsp;

                        a.btn.btn-lg.btn-twitter.btn-social-icon(href='/auth/twitter')
                            i.fa.fa-twitter
                        span &thinsp;&thinsp;

                        a.btn.btn-social-icon.btn-lg.btn-github
                            i.fa.fa-github
                        span &thinsp;&thinsp;

                        a.btn.btn-social-icon.btn-lg.btn-github
                            i.fa.fa-qq
                        span &thinsp;&thinsp;

                        a.btn.btn-social-icon.btn-lg.btn-github
                            i.fa.fa-weixin

        p
            a(href="/email-signup") Or sign up using your email address here.
        p
            a(href="/email-signin") 使用账号密码登录
