extends layout
block content
    .text-center
        h1 Become a Software Engineer
        h2 Our free online coding bootcamp will help you land your first coding job!
        
        .row
            .col-xs-12.col-sm-12.col-md-4
                h3 Technical Mastery
                img(src="images/tools.svg")
                p Pair program your way through our courses and coding challenges.

            .col-xs-12.col-sm-12.col-md-4        
                h3 Unique Portfolio Projects
                img(src="images/portfolio.svg")    
                p Contribute to Open Source Software. Work closely with non-profits and solve their problems with code.

            .col-xs-12.col-sm-12.col-md-4
                h3 Glowing References
                img(src="images/references.svg")    
                p Gain the esteem of your peers and the people you help.

        a.btn.btn-primary(href='/login') Sign in now to get started (it's free)
        a.btn.btn-primary(href='/nonprofit') I'm with a non-profit and want help from a Software Engineer
        